@model IEnumerable<bookShare.Models.Book>

@{
    ViewData["Title"] = "Borrowed Books";
}

<h1>Books I borrowed</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                Owner
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @ViewData[item.User.Email]
            </td>
            <td>
                <input class="btn btn-primary" asp-action="Return" asp-route-id="@item.Id" value="Return book">
            </td>
        </tr>
}
    </tbody>
</table>
