@model IEnumerable<bookShare.Models.Book>

@{
    ViewData["Title"] = "Borrow Requests";
}

<h1>Borrow Requests</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                Requester
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @ViewData[item.BorrowerId]
            </td>
            <td>
                <a class="btn btn-primary" asp-action="AcceptBorrow" asp-route-id="@item.Id" value=""> Manage request</a>
            </td>
        </tr>
}
    </tbody>
</table>
