@model IEnumerable<bookShare.Models.Book>

@{
    ViewData["Title"] = "Book Index";
}

<h1>All Available Books</h1>

@*<form asp-controller="Book" asp-action="Index" method="get">
    <p>
        
        <input class="btn" type="submit" value="search" />
    </p>
</form>*@

<form class="row g-3" asp-controller="Book" asp-action="Index" method="get">
    <div class="col-auto">
        <input class="form-control" type="text" name="query">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                Owner
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id" value="Details">details </a>
                </td>
            </tr>
        }
    </tbody>
</table>
