@model IEnumerable<bookShare.Models.Book>

@{
    ViewData["Title"] = "My Requests";
}

<h1>My Borrow Requests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                Owner
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <input class="btn btn-danger" asp-action="RejectBorrow" asp-route-id="@item.Id" value="Remove request">
            </td>
        </tr>
}
    </tbody>
</table>
