@model IEnumerable<bookShare.Models.Book>

@{
    ViewData["Title"] = "My Books";
}

<h1>My Books</h1>

<p>
    <a class="btn btn-primary" asp-area="" asp-controller="Book" asp-action="Create">Add a book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                Borrower
            </th>
        </tr>
    </thead>
    <tbody class="table-striped">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @if (item.BorrowerId != null)
                {
                    @ViewData[item.BorrowerId]
                }
            </td>
            <td>
                @if (item.BorrowerId == null)
                {
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id" value="Edit"/>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" value="Delete"/>
                }
            </td>
        </tr>
}
    </tbody>
</table>
