@model bookShare.Models.Book

@{
    ViewData["Title"] = "Remove";
}

<h1>Remove request?</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            Requester
        </dt>
        <dd class="col-sm-10">
            @ViewData[Model.BorrowerId]
        </dd>
    </dl>
</div>
<div>
    <form asp-action="RejectBorrow">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Want to remove this request?" class="btn btn-danger" />
        <input class="btn btn-secondary" asp-action="BorrowRequests" value="Back to List">
    </form>

</div>
