@model bookShare.Models.Book

@{
    ViewData["Title"] = "Return book";
}

<h1>Return book?</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            Owner
        </dt>
        <dd class="col-sm-10">
            @ViewData[Model.User.Email]
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Return">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Return book" class="btn btn-primary" /> |
        <input class="btn btn-secondary" asp-action="BorrowedBooks" value="Back to List">
    </form>

</div>
